<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber Parallel Suite" parallel="tests" data-provider-thread-count="5">
    <test name="UIRegression">
        <classes>
            <class name="com.runners.UIRegression"/>
        </classes>
    </test>
</suite>
